

html{
  overflow-x: hidden;
}
body{
  display: flex!important;
  flex-direction: column!important;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.fxg1{
  flex-grow: 1;
}
.navbar{
  padding: 10px 60px;
}
.col.pt15{
  padding-top: 15px!important;
}

.carousel{
  position: relative;
  padding: 40px 60px;
}
.carousel-item{
  max-height: 860px;
  overflow: hidden;
}
.carousel-description{
  position: absolute;
  top: 60px;
  left: 40px;
  height: fit-content;
  z-index: 99;
}
.carousel-description p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #fff;
  line-height: 1;
  margin-bottom: 10px;
}
.carousel-description h1{
  font-size: 3.5vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  color: #fff;
  line-height: 1;
  padding-top: 0;
  text-transform: uppercase;
}

.container-fluid{
  padding: 40px 60px;
}

.card{
  transition: all .3s;
}
.card:hover{
  box-shadow: 0 0 25px -10px #cecece;
}

.card-title{
  font-size: 1.6rem;
  color: #000;
}


.banner-item{
  position: relative;
  max-height: 600px;
  overflow: hidden;
}


.cart-item{
  display: flex;
  justify-content: space-between;
}
.cart-card{
  display: flex;
}
.cart-card img{
  width: 75px;
  height: 75px;
  margin-right: 10px;
}
.cart-price p {
  font-size: 24px;
}

.footer-nav{
  list-style-type: none;
}

.text-white-50:hover{
  color: #fff!important;
  text-decoration: none;
}


.toast{
  position: fixed !important;
  left: 10px !important;
  bottom: 10px !important;
  width: 300px;
}

@media(max-width: 480px){
  .navbar{
    padding: 10px;
  }
  .carousel{
    padding: 0;
  }
  .carousel-description{
    top: 20px;
    left: 10px;

  }
  .container-fluid{
    padding: 5px 10px;
  }
}